fastapi
uvicorn
pydantic
joblib
numpy
pandas
httpx
typing
pymongo
dotenv
xgboost
scikit-learn
websockets
python-dotenv
pydantic[email]
python-jose[cryptography]
python-multipart
passlib
bcrypt

pytest
pytest-asyncio

scapy